table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Phantomsans, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th {
    background-color: #4c76b7;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}



table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #4c76b7;
}

.report {
  background-color: #bcd7ff;
  position: relative;
  display: inline-block;
  margin: 25px 0;
  padding-left: 5px;
}

.nice-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 1em;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  margin-top: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.nice-button:active,
.nice-button:hover {
  outline: 0;
}

.nice-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.nice-button:hover span {
  background: none;
}

@media (min-width: 600px) {
  .nice-button {
    font-size: 18px;
    min-width: 120px;
  }
}

ol {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    /* Initialize the counter */
    counter-reset: report;
  }
  
ol li {
    counter-increment: report;

    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    color: black;
}

ol li:before {
    content: counter(report);

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 171, 247, 0.16);
    color: #4c76b7;
    padding: 1rem;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: .75rem;
    margin-left: 0;
}

.warn {
  pointer-events: none;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 2.0;
  outline: transparent;
  padding: 0 0.5rem;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  white-space: nowrap;
}


